.journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.notes {
  background-attachment: local;
  background-image: linear-gradient(
      to right,
      white 0.625rem,
      transparent 0.625rem
    ),
    linear-gradient(to left, white 0.625rem, transparent 0.625rem),
    repeating-linear-gradient(
      white,
      white 1.875rem,
      #ccc 1.875rem,
      #ccc 1.9375rem,
      white 1.9375rem
    );
  line-height: 1.9375rem;
  padding: 0.5rem 0.625rem;
}

.journal_entry {
  width: 80%;
  height: 28.125rem; /* Adjust height as needed */
  padding: 2rem;
  margin: 2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.313rem;
  resize: vertical; /* Allow vertical resizing */
  line-height: 2rem; /* Match line height with the pattern */
}

.journal_entry h1 {
  padding: 2rem;
}
